<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.review.front.frontAppoint.mapper.ReviewExpertReserveMapper">
    <select id="getMyConsultation" parameterType="String" resultType="com.review.front.frontAppoint.vo.ConsultationVO">
        SELECT DISTINCT
            rer.id,
            rec.id calendarId,
            re.expert_name expertName,
            re.sex expertSex,
            re.job_title expertJobTitle,
            re.introduction expertIntroduction,
            re.label expertLable,
            re.mobile_phone expertPhone,
            rer.patient_name patientName,
            rer.patient_sex patientSex,
            rer.patient_age patientAge,
            ru.mobile_phone userPhone,
            ru.id_card userIdCard,
            rec.begin_time beginTime,
            rec.end_time endTime,
            rec.week_day weekDay,
            DATE_FORMAT( rec.visit_date, '%Y-%m-%e' ) AS visitDate,
            rer.STATUS STATUS,
            CASE
                rer.STATUS
                WHEN 1 THEN
                    '待问诊'
                WHEN 2 THEN
                    '问诊结束'
                WHEN 3 THEN
                    '已取消'
                END statusName,
            CASE
                rec.week_day
                WHEN 1 THEN
                    '周一'
                WHEN 2 THEN
                    '周二'
                WHEN 3 THEN
                    '周三'
                WHEN 4 THEN
                    '周四'
                WHEN 5 THEN
                    '周五'
                WHEN 6 THEN
                    '周六'
                WHEN 0 THEN
                    '周日'
                END weekDayName,
            ro.STATUS payStatus,
            CASE
                ro.STATUS
                WHEN 2 THEN
                    '已支付'
                WHEN 3 THEN
                    '已支付' ELSE '待支付'
                END payStatusName
        FROM
            review_expert_reserve rer
                LEFT JOIN review_expert_calendar rec ON rer.calendar_id = rec.id
                LEFT JOIN review_expert re ON rer.expert_id = re.id
                LEFT JOIN review_user ru ON rer.user_id = ru.user_id
                LEFT JOIN review_order ro ON rer.user_id = ro.user_id
                AND ro.class_id = rer.id
        WHERE
            rer.user_id = #{userId}
          AND rer.del_flag = 1
        ORDER BY
            visitDate DESC,
            rec.begin_time
    </select>

    <select id="getMyConsultationDetail" parameterType="Integer" resultType="com.review.front.frontAppoint.vo.ConsultationVO">
        SELECT DISTINCT
            rer.id,
            re.id expertId,
            rec.id calendarId,
            re.expert_name expertName,
            re.sex expertSex,
            re.job_title expertJobTitle,
            re.introduction expertIntroduction,
            re.label expertLable,
            re.mobile_phone expertPhone,
            rer.patient_name patientName,
            rer.patient_sex patientSex,
            rer.patient_age patientAge,
            ru.mobile_phone userPhone,
            ru.id_card userIdCard,
            ru.user_id userId,
            rec.begin_time beginTime,
            rec.end_time endTime,
            rec.week_day weekDay,
            DATE_FORMAT( rec.visit_date, '%Y-%m-%e' ) AS visitDate,
            rer.STATUS STATUS,
            rer.create_time createTime,
            CASE
                rer.STATUS
                WHEN 1 THEN
                    '待问诊'
                WHEN 2 THEN
                    '问诊结束'
                WHEN 3 THEN
                    '已取消'
                END statusName,
            CASE
                rec.week_day
                WHEN 1 THEN
                    '周一'
                WHEN 2 THEN
                    '周二'
                WHEN 3 THEN
                    '周三'
                WHEN 4 THEN
                    '周四'
                WHEN 5 THEN
                    '周五'
                WHEN 6 THEN
                    '周六'
                WHEN 7 THEN
                    '周日'
                END weekDayName,
            re.charge charge,
            re.org_price orgPrice,
            re.dicount_price dicountPrice,
            ( re.org_price - re.dicount_price ) AS realPrice,
            re.avatar avatar
        FROM
            review_expert_reserve rer
                LEFT JOIN review_expert_calendar rec ON rer.calendar_id = rec.id
                LEFT JOIN review_expert re ON rer.expert_id = re.id
                LEFT JOIN review_user ru ON rer.user_id = ru.user_id
        WHERE
            rer.id = #{id}
          AND rer.del_flag = 1
        ORDER BY
            rer.create_time DESC
    </select>
    <select id="getExpertFieldGroup" parameterType="Integer" resultType="String">
        select expert_field_group from review_expert where id = #{expertId}
    </select>
    <select id="getDictId" parameterType="String" resultType="String">
        select id from sys_dict where dict_code = #{expertFieldGroup}
    </select>
    <select id="getDictText" parameterType="map" resultType="com.review.front.frontAppoint.vo.BeGoodAt">
        select item_text as dictName from sys_dict_item where dict_id = #{dictId} and item_value in
        <foreach collection="dictIdList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getBeGoodAtList" parameterType="Integer" resultType="com.review.front.frontAppoint.vo.BeGoodAt">
        select be_good_at_emotion,be_good_at_relation,be_good_at_family_trouble,be_good_at_marriage
        from review_expert where id = #{expertId}
    </select>
    <select id="getBeGoodAtNameList" parameterType="map" resultType="com.review.front.frontAppoint.vo.BeGoodAt">
        select dict_name from sys_dict where dict_code in
        <foreach collection="beGoodAtListNew" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>