<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.review.manage.report.mapper.ReviewReportGradeMapper">
    <delete id="delReviewReportGrade" parameterType="String">
        delete from review_report_grade where report_id = #{reportId}
    </delete>
</mapper>