<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.review.manage.variate.mapper.ReviewVariateMapper">
    <select id="getClassNameByClassId" parameterType="String" resultType="String">
        SELECT
            title AS className
        FROM
            review_class
        WHERE
            class_id = #{classId}
    </select>
    
    <delete id="delCariateGrade" parameterType="String">
        delete from review_variate_grade where variate_id = #{variateId}
    </delete>
    
    <delete id="delReportVariate" parameterType="String">
        DELETE FROM review_report_variate WHERE variate_id = #{variateId}
    </delete>

    <select id="getMaxSortNum" parameterType="String" resultType="Integer">
        SELECT MAX(sort_num) sortNum FROM review_variate WHERE class_id = #{classId}
    </select>
</mapper>