<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.review.front.frontSubject.mapper.FrontSubjectMapper">
    <select id="getReviewSubjectClass" parameterType="map" resultType="com.review.manage.reviewClass.vo.ReviewClassPage">
        SELECT
        c.class_id classId,
        c.sort_id sortId,
        c.banner_img bannerImg,
        c.STATUS,
        c.type,
        c.title,
        c.charge,
        c.org_price orgPrice,
        c.dicount_price dicountPrice,
        ( c.org_price - c.dicount_price ) AS realPrice,
        c.class_desc classDesc,
        c.guide,
        (
        SELECT
        count( o.id )
        FROM
        review_order o
        WHERE
        o.class_id = c.class_id
        AND STATUS IN ( 2, 3 )
        ) buyCount,
        s.subject_name subjectName,
        s.id subjectId
        FROM
        review_class c
        INNER JOIN review_subject_class sc ON c.class_id = sc.class_id
        INNER JOIN review_subject s ON sc.subject_id = s.id
        WHERE c.status = #{status}
        <if test="subjectId != null and subjectId > 0">
            and s.id = #{subjectId}
        </if>
        LIMIT #{page}, #{rows}
    </select>
</mapper>